sphinx==4.4.0
sphinxcontrib-htmlhelp
appdirs==1.4.4
requests==2.27.1
pip
pandas==1.3.5
statsmodels
numpy==1.21.2
setuptools
matplotlib==3.5.0
sphinxcontrib-serializinghtml
sphinxcontrib-jsmath
sphinxcontrib-devhelp
pytz==2021.3
sphinxcontrib-applehelp
seaborn==0.11.2
chardet==4.0.0
tabulate
pathlib2
urllib3==1.26.8
scipy
charset_normalizer==2.0.4
python_pptx==0.6.18
timezonefinder==6.1.9
rst2pdf==0.99
sphinx_panels==0.6.0
